<div class="pagecontainer">

<h2>Message owner</h2>
<div class="formcontainer">

<%= simple_form_for(@booking) do |f| %>

<div class="description-inputs">
  <%= f.input :message, label: " Message owner", placeholder: 'Hi, I am interested in...' %></span>
</div>


<form>
  <p>Card details</p>
  <input type="card number" placeholder="Card Number">
  <input type="expiry" placeholder="Expiry">
  <input type="CVV" placeholder="CVV">
  <input type="Card Holder Name"  placeholder="Card holder name">
</form>

<div class="form-actions">
  <%= f.button :submit,  class: "btn-create"  %>
<% end %>
</div>
</div>
</div>
