<div class="pagecontainer">
  <div class="booking-form-container">

  <h2>Message owner</h2>

    <%= simple_form_for(@booking) do |f| %>

      <div class="message-input">
        <%= f.input :message, class: "message-input", placeholder: 'Hi, I am interested in...', label: false %></span>
      </div>

    <% end %>

    <div class="message-container">
      <form >
        <p>Card details</p>
        <input type="card number" placeholder="Card Number">
        <input type="expiry" placeholder="Expiryy">
        <input type="CVV" placeholder="CVV">
        <input type="Card Holder Name"  placeholder="Card holder name">
      </form>
    </div>


  </div>
</div>


<div class="summarycontainer">
  <h2>Summary</h2>
 <div class="card-trip">

        <img src="https://source.unsplash.com/random?sig=#{rand(1..1000)}&?jet" alt="">

          <div class="card-trip-infos">
              <div>


                <%= cl_image_tag @booking.plane.photo.key %>

              </div>
          </div>

        </div>


</div>
