.banner {
  color: white;
  text-align: center;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover !important;
  margin-bottom: 32px;
  background-image:linear-gradient(180deg, rgba(35, 70, 57, 0.24) 99.99%, rgba(255, 255, 255, 0) 100%), image-url('Rosalia_B&W.png');
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
