.form-container {
  max-width: 320px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #49C396;
  max-height: 600px;
  padding: 45px 30px;
  color: white;
}

.container-body {
h2 {
  text-align: center;
  }
  a{
    color: white;
  }
}
.form-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.btn-custom-login {
  background: white;
  border-radius: 5px;
  padding: 10px 25px;
  color: #49C396;
  opacity: 0.9;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-custom-login:hover {
  /* color: #EAB9D7; */
  box-shadow:0px 0px 20px rgba(213, 116, 175, 0.4);
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
}


.btn-custom {
  background: #49C396;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  opacity: 0.9;
}

.btn-custom:hover {
  /* color: #EAB9D7; */
  // box-shadow:0px 0px 20px rgba(213, 116, 175, 0.4);
  // transition: all 0.2s ease-in;
  // transition-property: box-shadow;
  // text-decoration: none;
  opacity: .8;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: white;
}

.btn-custom a {
  text-decoration: none;
}

.btn-custom a:hover {
  text-decoration: none;
  color: white !important;
}

.mainbutton {
  border-radius: 5px;
  background-color: #49C396;
  color: #ffffff;
  padding: 16px 28px;
  transition: background 0.3s ease;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.12px;
  margin-top: 22px;
  transition: all .3s ease 0s;
}

.mainbutton:hover {
  opacity: .8;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: white;
}

.mainbutton a {
  text-decoration: none;
}

.mainbutton a:hover {
  text-decoration: none;
  color: white;
}

.font-change h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.banner-content h1 {
   margin-bottom: 18px;
}

.text-change p {
   padding-bottom: 12px;
   opacity: 0;
   color: white;
   font-weight: 700px;
}

.banner-content h1 {
  font-size: 40px;
}


.button-green {
  border-radius: 5px;
  background-color: #49C396;
  padding: 8px 28px;
  transition: all .3s ease 0s;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-weight: bold;
a {
  font-size: 20px;
  line-height: 37px;
  text-decoration: none;
  letter-spacing: 1.12px;
  font-weight: 500;
  font-family: Montserrat;
  color: #ffffff;
}
:hover {
  opacity: .7;
}
}

.button-white {
  border-radius: 5px;
  background-color: white;
  padding: 8px 28px;
  transition: all .3s ease 0s;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-weight: bold;
  a {
  font-size: 20px;
  line-height: 37px;
  text-decoration: none;
  letter-spacing: 1.12px;
  font-weight: 500;
  font-family: Montserrat;
  color: #49C396;
}
:hover {
  opacity: .7;
}
}
