
@import  "cards";

.wholepagecontainer{
  display:flex;
  background: $background;
  margin: 0 auto;
  justify-content: space-around;
  padding: 50px 300px;

}

.booking-form-container {
  height: 60vh;
  margin: 0;
  width: 35%;
  background-color: $light-gray;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-family: Montserrat;
}

.summarycontainer {
  width: 35%;
  background-color: $light-gray;
  padding: 30px;
  height: 60vh;
  border-radius: 10px;

}


.messagecontainer {
  //width: 100%;
  margin: 0 auto;
  background-color: $background;
  box-shadow: 0.879193px 0.879193px 3.51677px rgba(0, 0, 0, 0.25);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 4px;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin-top: -12px;
  display: flex;

}

.creditcard-input {
  font-family: Montserrat;
}


.edit-booking {
  color: red;
}


.summarycontainer h2 {
  padding-bottom: 10px;
  text-align: center;
}

form, img {
  display: inline-block;
  padding-bottom: 10px;
}

label{
  padding-right: 10px;
  width: 150px;
  display: inline-block;
}

.input-group{
  padding-top: 10px;
}

input {

  float: right;
  clear: both;
}
