.form-inputs{
  color: white;
}
.pagecontainer{
  width: 100%;
  margin: 0 auto;
  background-color: #49C396;
  box-shadow: 0.879193px 0.879193px 3.51677px rgba(0, 0, 0, 0.25);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 4px;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin-top: -12px;

}

.formcontainer{
  display: flex;
  flex-direction: row;
  font-family: Monsterrat;
  color: white;
  justify-content: center;
}

  .pagecontainer h2{
    margin-bottom: 22px;
    font-weight: 600;
    text-align: center;
  }


.formcontainer h2 {
  font-family: Montserrat;
}

.horizontal-inputs {
  display: inline-block;
  font-family: Montserrat;
}

span {
  padding: 0 5px;
}


.description-inputs{
  margin-right: 15px;
}

.btn-create{
  background: white;
  border-radius: 5px;
  padding: 10px 45px;
  color: #49C396;
  opacity: 0.9;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 300px;
  font-size: 21.1006px;

}

.btn-create:hover {
  /* color: #EAB9D7; */
  box-shadow:0px 0px 20px rgba(213, 116, 175, 0.4);
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
}

